version: "3"
services:
  web:
    # replace username/repo:tag with your name and image details
    image: nginx:latest
    deploy:
      replicas: 2
      resources:
        limits:
          memory: 128M
      restart_policy:
        condition: on-failure
    ports:
    - "8090:80"
    depends_on:
    - php
    - mysql
    volumes:
    - ./:/app
    - ./site.conf:/etc/nginx/conf.d/default.conf
    networks:
    - webnet
  php:
    build: .
    volumes:
    - ./:/app
    environment:
    - DB_HOST=mysql
    - DB_USERNAME=homestead
    - DB_PASSWORD=secret
    - DB_DATABASE=shapeup
    networks:
    - webnet
    links:
    - mysql
    restart: on-failure
    depends_on:
    - mysql
    working_dir: /app
  mysql:
    image: mariadb:latest
    networks:
    - webnet
    environment:
    - MYSQL_ROOT_PASSWORD=secret
    - MYSQL_DATABASE=shapeup
    - MYSQL_USER=homestead
    - MYSQL_PASSWORD=secret
    - MYSQL_ROOT_HOST=%
    restart: on-failure
    volumes:
    - datastore:/var/lib/mysql
networks:
  webnet:
volumes:
  datastore:
